html {
    position: absolute;
    min-height:100%;
}

body {
    /*margin-top:40px;*/
    /*margin-bottom: 80px;*/
}

.label{
    background-color: rgba(59, 59, 59, 0.7);
    padding: 5px;
    color: white;
    font-weight: 200;
    font-size:15px;
    margin:10px;
    position: absolute;
}

/*#perspective{*/
    /*left: 0px;*/
    /*top: 2px;*/
/*}*/

/*#top{*/
    /*left: 0px;*/
    /*top: 380px;*/
/*}*/

/*#front{*/
    /*left: 720px;*/
    /*top: 2px;*/
/*}*/

/*#side{*/
    /*left:720px;*/
    /*top: 380px;*/
/*}*/




.well{
    text-align: center;
    z-index: 100;
}

footer {
    position:absolute;
    bottom:0;
    padding-top:15px;
    width:100%;
    height:80px;
    background-color:#fafafa;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

    text-align: center;
    font-size: 12px;
    line-height: 2;
}

.page-heading {
    color: #555555;
    font-weight: bold;
    text-transform: uppercase;
}